# Pandas Recap 2
Arbeiten Sie nachfolgenden Aufgabenstellungen durch und dokumentieren Sie, wenn notwendig, ihre Erkenntnisse.

In [4]:
# imports
import pandas as pd
import numpy as np

## Task 1
Erstellen Sie basierend auf den 3 Listen `name`, `population` und `country` das *Dictionary* `cities`. Verwenden Sie die List-Bezeichner als *Keys*. Im nächsten Schritt gilt es mit dem *Dictionary* das *DataFrame* `citiy_df` zu erstellen. Gesuchte Ausgabe:

```Python
      name 	poulation   country
0 	London 	8615246 	England
1 	Berlin 	3562166 	Germany
2 	Madrid 	3165235 	Spain
3 	Rome 	2874038 	Italy
4 	Paris 	2273305 	France
5 	Vienna 	1805681 	Austria
...
```

In [6]:
name = ["London", "Berlin", "Madrid", "Rome",
        "Paris", "Vienna", "Bucharest", "Hamburg",
        "Budapest", "Warsaw", "Barcelona",
        "Munich", "Milan"]

population = [8615246, 3562166, 3165235, 2874038,
                2273305, 1805681, 1803425, 1760433,
                1754000, 1740119, 1602386, 1493900,
                1350680]

country = ["England", "Germany", "Spain", "Italy",
            "France", "Austria", "Romania",
            "Germany", "Hungary", "Poland", "Spain",
            "Germany", "Italy"]

# Erstellen Dictionaries
cities = {'name': name, 'population': population, 'country': country}

city_df = pd.DataFrame(cities)

print(city_df)

         name  population  country
0      London     8615246  England
1      Berlin     3562166  Germany
2      Madrid     3165235    Spain
3        Rome     2874038    Italy
4       Paris     2273305   France
5      Vienna     1805681  Austria
6   Bucharest     1803425  Romania
7     Hamburg     1760433  Germany
8    Budapest     1754000  Hungary
9      Warsaw     1740119   Poland
10  Barcelona     1602386    Spain
11     Munich     1493900  Germany
12      Milan     1350680    Italy

## Task 2
Die Reihenfolge der Spalten kann bei der Erstellung des *DataFrames* festgelegt werden. Dazu dient das Schlüsselwort `columns` beim Instanziieren eines *DataFrames*. Ändern Sie diese, sodass folgende Reihenfolge gegeben ist: *-name* - *country* - *population*. Verwenden Sie hierzu die Liste `new_order`. Erstellen Sie mit `city_df` ein neues *DataFrame*.

In [8]:
new_order = ["name", "country", "population"]
city_df= city_df[new_order]
print(city_df)

         name  country  population
0      London  England     8615246
1      Berlin  Germany     3562166
2      Madrid    Spain     3165235
3        Rome    Italy     2874038
4       Paris   France     2273305
5      Vienna  Austria     1805681
6   Bucharest  Romania     1803425
7     Hamburg  Germany     1760433
8    Budapest  Hungary     1754000
9      Warsaw   Poland     1740119
10  Barcelona    Spain     1602386
11     Munich  Germany     1493900
12      Milan    Italy     1350680

## Task 3
Man kann den Index entweder beim Erstellen eines *DataFrames* explizit definieren oder mit `set_index()` im Nachhinein ändern. Definieren Sie die Spalte *country* als neuen Index bei `city_df`. Wichtig: `set_index()` liefert ein neues DF-Objekt, was wir aber nicht möchten. Die Änderung soll in `city_df` direkt erfolgen!

Quelle: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html?highlight=set_index#pandas-dataframe-set-index

In [10]:
# 'country' als neuen Index setzen und Änderung direkt speichern
city_df.set_index('country', inplace=True)
print(city_df)

              name  population
country
England     London     8615246
Germany     Berlin     3562166
Spain       Madrid     3165235
Italy         Rome     2874038
France       Paris     2273305
Austria     Vienna     1805681
Romania  Bucharest     1803425
Germany    Hamburg     1760433
Hungary   Budapest     1754000
Poland      Warsaw     1740119
Spain    Barcelona     1602386
Germany     Munich     1493900
Italy        Milan     1350680

## Task 4
Gesucht sind a) alle Städte Deutschlands und b) alle Städt Deutschlands und Frankreichs. Zur Erinnerung: Die Spalte *country* bildet den Index.

> **Remember**: `loc`und `iloc` durchsuchen ein *DataFrame* anhand des Index; es sind ausschließlich Werte der Index-Spalte zulässigt. Ignoriert man das, erhält man einen *Key Error*. Also bevor man loslegt, sollte man kurz innehalten und überlegen, was kann ich wie suchen und - hoffentlich - finden!

Den Index eines DataFrames kann man mit dem Property `index` ausgeben.

In [12]:
# alle Städte aus Deutschland
german_cities = city_df.loc["Germany"]
print(german_cities)

            name  population
country
Germany   Berlin     3562166
Germany  Hamburg     1760433
Germany   Munich     1493900

In [14]:
# alle städte aus Frankreich und Deutschland
selected_countries = city_df.loc[["Germany", "France"]]
print(selected_countries)

            name  population
country
Germany   Berlin     3562166
Germany  Hamburg     1760433
Germany   Munich     1493900
France     Paris     2273305

## Task 5
Gesucht sind alle jene Städte, deren *Population* > 2Mio. ist.

In [16]:
large_cities = city_df[city_df['population'] > 2000000]
print(large_cities)

           name  population
country
England  London     8615246
Germany  Berlin     3562166
Spain    Madrid     3165235
Italy      Rome     2874038
France    Paris     2273305

## Task 6
Aufgabenstellung 8.5 kann man auf mehrere Arten lösen. Legen Sie dar, warum die `loc`-Variante funktioniert - vor allem unter den in 11.5 diskutierten Gesichtspunkten?

In [ ]:
# Die Methode loc ist besonders nützlich, wenn wir auf Zeilen und Spalten basierend auf Labels zugreifen. 
#Da der Index von city_df die Länder sind, können wir mit loc nach Ländern (Index) filtern.

## Task 7
Berechnen Sie die Gesamtsumme der Einwohner aller Städte.

In [18]:
total_population = city_df['population'].sum()
print(f"Gesamtsumme der Bevölkerung: {total_population}")

Gesamtsumme der Bevölkerung: 33800614

## Task 8
Fügen Sie dem *DataFrame* `city_df` die Spalte *area* mit den Werten der Liste `area` (Fläche in qkm) hinzu. Gesuchtes Ergebnis:

```Python
            name 	population 	area
country 			
England 	London 	8615246 	1572.00
Germany 	Berlin 	3562166 	891.85
Spain 	  Madrid 	3165235 	605.77
Italy 	  Rome 	  2874038     1285.00
France 	 Paris 	 2273305     105.40
```

In [20]:
# Fläche in Quadratkilometern
area = [1572.00, 891.85, 605.77, 1285.00, 105.40, 414.87, 
        228.00, 755.00, 525.00, 517.00, 101.90, 310.70, 181.76]

# Spalte 'area' hinzufügen
city_df['area'] = area
print(city_df)

              name  population     area
country
England     London     8615246  1572.00
Germany     Berlin     3562166   891.85
Spain       Madrid     3165235   605.77
Italy         Rome     2874038  1285.00
France       Paris     2273305   105.40
Austria     Vienna     1805681   414.87
Romania  Bucharest     1803425   228.00
Germany    Hamburg     1760433   755.00
Hungary   Budapest     1754000   525.00
Poland      Warsaw     1740119   517.00
Spain    Barcelona     1602386   101.90
Germany     Munich     1493900   310.70
Italy        Milan     1350680   181.76

## Task 9
Sortieren Sie die Ausgabe nach *area*, und zwar in absteigener Reihenfolge. Verwenden Sie `sort_values()`. Quelle: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html

In [22]:
sorted_city_df = city_df.sort_values(by='area', ascending=False)

# Ausgabe anzeigen
print(sorted_city_df)

              name  population     area
country
England     London     8615246  1572.00
Italy         Rome     2874038  1285.00
Germany     Berlin     3562166   891.85
Germany    Hamburg     1760433   755.00
Spain       Madrid     3165235   605.77
Hungary   Budapest     1754000   525.00
Poland      Warsaw     1740119   517.00
Austria     Vienna     1805681   414.87
Germany     Munich     1493900   310.70
Romania  Bucharest     1803425   228.00
Italy        Milan     1350680   181.76
France       Paris     2273305   105.40
Spain    Barcelona     1602386   101.90

## Task 10
Nehmen Sie spätestens jetzt den Abschnitt *Applying Functions* des Tutorials **Python Pandas Tutorial: A Complete Introduction for Beginners** (siehe Übung 09) durch. 

Ziel ist die Erstellung einer weiteren Spalte *megacities*, die für alle Städte, der *population* > 2Mio. ist, den Wert `True` enthält. Erstellen Sie hierzu die Funktion `def calc_megacities(population)`, in welcher die Abfrage zu implementieren ist. Das gesuchte Ergebnis (die unordentliche Darstellung ist dem JN geschuldet):

```Python
            name 	population 	area 	megacities
country 				
England 	London 	8615246 	1572.00 	True
Italy       Rome 	2874038 	1285.00 	True
Germany 	Berlin 	3562166 	891.85 	    True
Germany 	Hamburg 1760433 	755.00 	    False
Spain 	    Madrid 	3165235 	605.77 	    True
...
```

In [24]:
# Funktion, die überprüft, ob die Stadt eine Megacity ist
def calc_megacities(population):
    return population > 2000000

# Neue Spalte 'megacities' hinzufügen
city_df['megacities'] = city_df['population'].apply(calc_megacities)

# Ausgabe anzeigen
print(city_df)

              name  population     area  megacities
country
England     London     8615246  1572.00        True
Germany     Berlin     3562166   891.85        True
Spain       Madrid     3165235   605.77        True
Italy         Rome     2874038  1285.00        True
France       Paris     2273305   105.40        True
Austria     Vienna     1805681   414.87       False
Romania  Bucharest     1803425   228.00       False
Germany    Hamburg     1760433   755.00       False
Hungary   Budapest     1754000   525.00       False
Poland      Warsaw     1740119   517.00       False
Spain    Barcelona     1602386   101.90       False
Germany     Munich     1493900   310.70       False
Italy        Milan     1350680   181.76       False

## Task 11

Diese Aufgabe basiert auf einem Dataset, dass je Messzeitpunkt *t* sechs Temperaturwerte (Sensor 1 bis Sensor 6) umfasst. Das Messintervall betrug 15 Minuten.

Laden Sie a) das bereitgestellte Dataset *temperatures_with_NaN.csv* und geben Sie die Shape aus. 

Geben Sie b) die ersten 5 Zeilen aller Sensoren aus. Geben Sie c) ausschließlich die ersten 5 Zeilen der Sensoren 3 und 4 aus. 

Ermitteln Sie d) die Anzahl der NaN-Werte je Sensor sowie je Zeitpunkt *t*. **Hinweis**: Denken Sie an die Achsen-Thematik, diese ist bei `sum()` konfigurierbar (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html?highlight=sum#pandas.DataFrame.sum. Ermitteln Sie außerdem die Gesamtanzahl der *NaN*-Werte. Hierzu ein kleiner Tipp: "doppelt hält besser"! 

e) Der letzte Punkte dieser Aufgabe widmet sich der Ermittlung des Mittelwertes zum Zeitpunkt t (siehe neue Spalte *mean*). Das gesuchte Ergebnis ist:

```Python
            time 	sensor1 	sensor2 	sensor3 	sensor4 	sensor5 	sensor6 	mean
    0 	06:00:00 	14.3 	    13.7 	  14.2 	  14.3 	   13.5 	  13.6 	 13.933333
    1 	06:15:00 	14.5 	    14.5 	  14.0 	  15.0 	   14.5 	  14.7 	 14.533333
    3 	06:45:00 	14.8 	    14.5 	  15.6 	  15.2 	   14.7 	  14.6 	 14.900000
    4 	07:00:00 	15.0 	    14.9 	  NaN 	   15.6 	   14.0 	  15.3 	 14.960000
    6 	07:30:00 	15.4 	    15.3 	  NaN 	   15.6 	   14.7 	  15.1 	 15.220000
```

**Vorgehensweise**

Es wird ersichtlich, dass z.B. die Messung zum Zeitpunkt t2 fehlt. Hintergrund ist, dass all jene Messungen entfernt wurden, die mehr als **einen** NaN-Wert aufwiesen. Das lässt sich mit `dropna()` überaus einfach bewerkstelligen (siehe Argument `thresh`). Hierbei ist die Gesamtanzahl der Spalten - also inkl. *time* - zu berücksichtigen! Entfernt man all jene Zeilen, die mehr als einen NaN-Wert enthalten, reduziert sich die Anzahl der Zeilen im Dataset auf 35.

Den zweiten und letzten Schritt, um diese Aufgabe zu bewerkstelligen, stellt die Ermittlung des Mittelwertes je Messzeitpunkt t dar. Das Ergebnis ist in die neue Spalte *mean* zu schreiben.

In [26]:
# a)
# Datei einlesen
temperature_file_path = "temperatures_with_NaN.csv"  # Pfad zur Datei anpassen
temp_df = pd.read_csv(temperature_file_path)

# Shape der Daten anzeigen
print(temp_df.shape)

(54, 7)

In [28]:
#b)
# Erste 5 Zeilen der Datei anzeigen
print(temp_df.head(5))

       time  sensor1  sensor2  sensor3  sensor4  sensor5  sensor6
0  06:00:00     14.3     13.7     14.2     14.3     13.5     13.6
1  06:15:00     14.5     14.5     14.0     15.0     14.5     14.7
2  06:30:00     14.6      NaN     14.8      NaN     14.0     14.2
3  06:45:00     14.8     14.5     15.6     15.2     14.7     14.6
4  07:00:00     15.0     14.9      NaN     15.6     14.0     15.3

In [30]:
#c) 
# Nur die Sensoren 3 und 4 anzeigen
print(temp_df[['sensor3', 'sensor4']].head(5))

   sensor3  sensor4
0     14.2     14.3
1     14.0     15.0
2     14.8      NaN
3     15.6     15.2
4      NaN     15.6

In [32]:
#d) 
# Anzahl der NaN-Werte je Sensor
nan_per_sensor = temp_df.isna().sum(axis=0)
print("NaN-Werte je Sensor:")
print(nan_per_sensor)

# Anzahl der NaN-Werte je Zeitpunkt
nan_per_time = temp_df.isna().sum(axis=1)
print("NaN-Werte je Zeitpunkt:")
print(nan_per_time)

# Gesamtanzahl der NaN-Werte
total_nan = temp_df.isna().sum().sum()
print(f"Gesamtanzahl der NaN-Werte: {total_nan}")

NaN-Werte je Sensor:
time        0
sensor1    11
sensor2     8
sensor3    13
sensor4    15
sensor5     9
sensor6    11
dtype: int64
NaN-Werte je Zeitpunkt:
0     0
1     0
2     2
3     0
4     1
5     2
6     1
7     1
8     3
9     2
10    3
11    2
12    0
13    1
14    2
15    1
16    0
17    1
18    0
19    2
20    1
21    1
22    0
23    0
24    1
25    3
26    2
27    1
28    0
29    1
30    2
31    3
32    4
33    3
34    3
35    2
36    2
37    1
38    1
39    1
40    1
41    1
42    0
43    0
44    2
45    1
46    0
47    2
48    0
49    1
50    1
51    1
52    0
53    1
dtype: int64
Gesamtanzahl der NaN-Werte: 67

In [34]:
# Zeilen mit mehr als einem NaN-Wert entfernen
temp_df = temp_df.dropna(thresh=temp_df.shape[1] - 1)

# Mittelwert je Messzeitpunkt berechnen
temp_df['mean'] = temp_df.iloc[:, 1:].mean(axis=1)

# Ausgabe anzeigen
print(temp_df)

        time  sensor1  sensor2  sensor3  sensor4  sensor5  sensor6       mean
0   06:00:00     14.3     13.7     14.2     14.3     13.5     13.6  13.933333
1   06:15:00     14.5     14.5     14.0     15.0     14.5     14.7  14.533333
3   06:45:00     14.8     14.5     15.6     15.2     14.7     14.6  14.900000
4   07:00:00     15.0     14.9      NaN     15.6     14.0     15.3  14.960000
6   07:30:00     15.4     15.3      NaN     15.6     14.7     15.1  15.220000
7   07:45:00     15.5     14.8     15.4     15.5      NaN     14.9  15.220000
12  09:00:00     16.8     17.3     17.7     17.8     15.9     16.1  16.933333
13  09:15:00     17.1     17.5     17.5     17.3     16.6      NaN  17.200000
15  09:45:00     18.4     19.0     19.0      NaN     18.4     18.3  18.620000
16  10:00:00     19.0     19.7     18.8     18.9     17.5     18.9  18.800000
17  10:15:00     19.7     19.4      NaN     19.2     19.7     19.6  19.520000
18  10:30:00     20.4     19.4     20.0     21.0     20.2     19.8  20.133333
20  11:00:00     21.8     21.3      NaN     23.2     21.1     20.5  21.580000
21  11:15:00      NaN     22.7     23.7     22.8     22.9     22.1  22.840000
22  11:30:00     23.4     22.7     23.0     24.5     22.3     22.9  23.133333
23  11:45:00     24.2     23.1     25.3     23.7     24.5     24.8  24.266667
24  12:00:00     24.0     23.1     23.1      NaN     22.5     22.7  23.080000
27  12:45:00     23.4     22.6     23.7     24.4      NaN     23.8  23.580000
28  13:00:00     23.2     24.1     24.0     23.3     23.5     23.1  23.533333
29  13:15:00     23.1     22.8     23.2     22.5     23.2      NaN  22.960000
37  15:15:00     21.6     21.3     21.7      NaN     21.9     21.1  21.520000
38  15:30:00     21.4     21.3      NaN     21.9     21.0     21.7  21.460000
39  15:45:00     21.3     21.6     21.6     22.6      NaN     21.0  21.620000
40  16:00:00     21.1     21.6     20.7     20.6      NaN     21.4  21.080000
41  16:15:00      NaN     20.6     20.8     20.5     20.3     21.6  20.760000
42  16:30:00     20.8     20.7     20.7     20.4     20.2     19.6  20.400000
43  16:45:00     20.6     21.4     20.3     21.4     19.1     21.2  20.666667
45  17:15:00     20.3     20.7     19.6     21.3     19.8      NaN  20.340000
46  17:30:00     20.1     20.5     19.7     19.7     18.7     19.7  19.733333
48  18:00:00     19.8     20.0     19.1     19.7     20.1     20.2  19.816667
49  18:15:00     19.6     19.9      NaN     19.9     20.0     18.6  19.600000
50  18:30:00     19.5     19.1     19.2      NaN     18.3     18.3  18.880000
51  18:45:00     19.3     18.7     20.3     19.0     18.8      NaN  19.220000
52  19:00:00     19.2     18.7     20.1     19.9     18.3     19.3  19.250000
53  19:15:00     19.0     19.7     18.9     19.2     18.5      NaN  19.060000