# Übung 12 - Pandas Recap 3

Arbeiten Sie nachfolgenden Aufgabenstellungen durch und dokumentieren Sie, wenn notwendig, ihre Erkenntnisse.

In [2]:
# Importieren Sie pandas
import pandas as pd

## Task 12.1

Erstellen Sie a) das DataFrame `person_df` mit folgendem Inhalt:

<table>
    <tr><th></th><th>Gewicht</th><th>Größe</th></tr>
     <tr><td>Henry</td><td>75</td><td>179</td></tr>
    <tr><td>Sarah</td><td>68</td><td>165</td></tr>
    <tr><td>Elke</td><td>68</td><td>172</td></tr>
    <tr><td>Susi</td><td>55</td><td>164</td></tr>
    <tr><td>Vera</td><td>58</td><td>160</td></tr>
    <tr><td>Toni</td><td>99</td><td>189</td></tr>
    <tr><td>Maria</td><td>68</td><td>176</td></tr>
    <tr><td>Chris</td><td>60</td><td>175</td></tr>    
</table>

In [32]:
data = { "Name" : ["Henry", "Sarah", "Elke",
                      "Susi", "Vera", "Toni",
                      "Maria", "Chris"],
            "Größe" : [179, 165, 172, 164, 160,
                       189, 176, 175],
            "Gewicht" : [75, 68, 68, 55, 58, 99, 68, 60]
           }

person_df = pd.DataFrame(data)

print(person_df)

    Name  Größe  Gewicht
0  Henry    179       75
1  Sarah    165       68
2   Elke    172       68
3   Susi    164       55
4   Vera    160       58
5   Toni    189       99
6  Maria    176       68
7  Chris    175       60

Der sog. *Body Mass Index* [1] berechnet sich durch:

$$
BMI = \frac{\text{Gewicht in Kilogramm}}{\left(\text{Größe in Metern}\right)^2}
$$


Berechnen Sie b) den BMI für alle Personen des DataFrames `person_df` und geben Sie ausschließlich jene aus, deren BMI > 20 und < 25 ist. 

**Hinweis**: Erstellen Sie KEINE neue Spalte im DataFrame. Es ist ausschließlich folgendes Ergebnis in der Zelle auszugeben:

```Python
Henry    23.407509 
Sarah    24.977043 
Elke     22.985398  
Susi     20.449137  
Vera     22.656250  
Maria    21.952479
dtype: float64
``` 
[1] https://de.wikipedia.org/wiki/Body-Mass-Index

In [38]:
#b)
bmi = person_df['Gewicht'] / (person_df['Größe'] ** 2)
filtered_bmi = bmi[(bmi > 20) & (bmi < 25)]

# Namen mit BMI anzeigen
result = pd.Series(filtered_bmi.values, index=person_df['Name'][filtered_bmi.index])
print(result)

Name
Henry    23.407509
Sarah    24.977043
Elke     22.985398
Susi     20.449137
Vera     22.656250
Maria    21.952479
dtype: float64

Nachdem die Berechnung erfolgreich war, fügen Sie c) die ermittelten Werte (je Person) dem DataFrame `person_df` hinzu. Als Spaltenname ist *BMI* zu wählen.

In [40]:
#c)
person_df['BMI'] = person_df['Gewicht'] / (person_df['Größe'] ** 2)

print(person_df)

    Name  Größe  Gewicht        BMI
0  Henry   1.79       75  23.407509
1  Sarah   1.65       68  24.977043
2   Elke   1.72       68  22.985398
3   Susi   1.64       55  20.449137
4   Vera   1.60       58  22.656250
5   Toni   1.89       99  27.714790
6  Maria   1.76       68  21.952479
7  Chris   1.75       60  19.591837

Geben Sie d) das erzeugte DataFrame absteigend sortiert nach dem BMI aus.

In [42]:
#d)
# DataFrame nach BMI absteigend sortieren
sorted_df = person_df.sort_values(by='BMI', ascending=False)

print(sorted_df)

    Name  Größe  Gewicht        BMI
5   Toni   1.89       99  27.714790
1  Sarah   1.65       68  24.977043
0  Henry   1.79       75  23.407509
2   Elke   1.72       68  22.985398
4   Vera   1.60       58  22.656250
6  Maria   1.76       68  21.952479
3   Susi   1.64       55  20.449137
7  Chris   1.75       60  19.591837

## Task 12.2

Laden Sie das bereitgestellte Dataset *parks.csv* und verschaffen Sie sich einen Überblick über dessen Aufbau bzw. Inhalt.

In [131]:
parks_df = pd.read_csv('parks.csv')

a) Geben Sie den Park aus, der an der 9ten Stelle liegt:

In [50]:
#a)
# Den neunten Park anhand des Park-Codes ausgeben
park_ninth = parks_df.iloc[8]  # Die neunte Zeile hat den Index 8 (Null-basiert)

# Den Park ausgeben
print(park_ninth)

Park Code                          CARE
Park Name    Capitol Reef National Park
State                                UT
Acres                            241904
Latitude                           38.2
Longitude                       -111.17
Name: 8, dtype: object

b) Geben Sie Parks aus an der  3, 12 und 24 Stelle aus:

In [54]:
#b)
parks_selected = parks_df.iloc[[2, 11, 23]]

# Ausgegebenen Parks anzeigen
print(parks_selected)

   Park Code                                    Park Name State   Acres  \
2       BADL                       Badlands National Park    SD  242756
11      CONG                       Congaree National Park    SC   26546
23      GRSA  Great Sand Dunes National Park and Preserve    CO   42984

    Latitude  Longitude
2      43.75    -102.50
11     33.78     -80.78
23     37.73    -105.51

c) Wie ist das DataFrame `park_df` zu ändern, dass die Abfrage `park_df.loc['BIBE']` durchläuft und somit folgendes Ergebnis liefert:

```Python
Park Name    Big Bend National Park
State                            TX
Acres                        801163
Latitude                      29.25
Longitude                   -103.25
Name: BIBE, dtype: object
```

In [74]:
#c)
# Setzen des Park-Codes als Index
parks_df.set_index('Park Code', inplace=True)

# Abfrage des Parks mit dem Code 'BIBE'
park_bibe = parks_df.loc['BIBE']

# Ausgabe des Ergebnisses
print(park_bibe)

KeyError: "None of ['Park Code'] are in the columns"

d) Geben Sie die ersten drei sowie den 4., 5. und 6 Park aus (zwei separate Anfragen mit `iloc`):

In [64]:
#d)
# Erste drei Parks (Index 0, 1, 2)
first_three_parks = parks_df.iloc[:3]

# Ausgabe der ersten drei Parks
print("Erste drei Parks:")
print(first_three_parks)

# Parks an den Stellen 4, 5, 6 (Index 3, 4, 5)
fourth_to_sixth_parks = parks_df.iloc[3:6]

# Ausgabe des 4., 5. und 6. Parks
print("\nParks an der 4., 5. und 6. Stelle:")
print(fourth_to_sixth_parks)

Erste drei Parks:
  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50

Parks an der 4., 5. und 6. Stelle:
  Park Code                                   Park Name State   Acres  \
3      BIBE                      Big Bend National Park    TX  801163
4      BISC                      Biscayne National Park    FL  172924
5      BLCA  Black Canyon of the Gunnison National Park    CO   32950

   Latitude  Longitude
3     29.25    -103.25
4     25.65     -80.08
5     38.57    -107.72

e) Gesucht ist folgende Ausgabe der Spalte *Park Code*:

```Python
0    ACAD
1    ARCH
2    BADL
Name: Park Code, dtype: object
```

In [70]:
#e)
# Park Code Spalte extrahieren und die ersten drei Werte ausgeben
park_codes = parks_df['Park Code'].head(3)

# Ausgabe der ersten drei Park Codes
print(park_codes)

0    ACAD
1    ARCH
2    BADL
Name: Park Code, dtype: object

Spaltennamen mit Leerzeichen (und Großbuchstaben) sind eine potenzielle Fehlerquelle, die es zu eliminieren gilt. Ändern Sie f) die Spaltennamen durch den Einsatz von `replace(...)` und `lower(...)` in einer *List Comprehension*. **Wichtig**: Die Liste mit den neuen Spaltennamen ist in der *List Comprehension* zu erstellen. Warum wir eine Liste benötigen, ist durch das Property *columns* von *DataFrame* definiert. `new_column_names` gestaltet sich nach Abarbeitung der *List Comprehension* wie folgt:

```Python
['parkcode', 'parkname', 'state', 'acres', 'latitude', 'longitude']
```

In [78]:
#f) 
# Neue Spaltennamen erstellen, Leerzeichen entfernen und alles in Kleinbuchstaben umwandeln
new_column_names = [col.replace(' ', '').lower() for col in parks_df.columns]

# Spaltennamen des DataFrames ändern
parks_df.columns = new_column_names

# Ausgabe der neuen Spaltennamen
print(parks_df.columns)

Index(['parkname', 'state', 'acres', 'latitude', 'longitude'], dtype='object')

Selektieren Sie g) den Parknamen und den Bundestaat der ersten 3 Zeilen im *DataFrame*.

In [82]:
#g)
# Selektieren der Spalten 'parkname' und 'state' für die ersten 3 Zeilen
selected_columns = parks_df.loc[:2, ['parkname', 'state']]

# Ausgabe des Ergebnisses
print(selected_columns)

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

h) Worin unterscheiden sich diese beiden Abfragen und was wäre eine logische Erklärung dafür?
- `park_df.iloc[2]`
- `park_df.iloc[[2]]`

In [86]:
# h)
# Eine einzelne Zeile als Series zurückgeben (Index 2)
row_series = parks_df.iloc[2]  
print(row_series)

# Eine einzelne Zeile als DataFrame zurückgeben (Index 2)
row_dataframe = parks_df.iloc[[2]]  
print(row_dataframe)

parkname     Badlands National Park
state                            SD
acres                        242756
latitude                      43.75
longitude                    -102.5
Name: BADL, dtype: object
                         parkname state   acres  latitude  longitude
Park Code
BADL       Badlands National Park    SD  242756     43.75     -102.5

i) Welche Parks befinden sich im Bundesstaat Utah (UT)?

In [155]:
#i)
# Parks im Bundesstaat Utah (UT) selektieren
utah_parks = parks_df[parks_df['State'] == 'UT']

# Ausgabe der Parks in Utah
print(utah_parks)

   Park Code                   Park Name State   Acres  Latitude  Longitude
1       ARCH        Arches National Park    UT   76519     38.68    -109.57
6       BRCA  Bryce Canyon National Park    UT   35835     37.57    -112.18
7       CANY   Canyonlands National Park    UT  337598     38.20    -109.93
8       CARE  Capitol Reef National Park    UT  241904     38.20    -111.17
55      ZION          Zion National Park    UT  146598     37.30    -113.05

j) Welche Parks erfüllen folgende Bedingung? 
- latitude > 60 oder acres > 1.000.000

In [159]:
#j)
# Parks, bei denen die Bedingung 'latitude > 60 oder acres > 1.000.000' erfüllt ist
selected_parks = parks_df[(parks_df['Latitude'] > 60) | (parks_df['Acres'] > 1000000)]

# Ausgabe der ausgewählten Parks
print(selected_parks)

   Park Code                                       Park Name       State  \
14      DENA               Denali National Park and Preserve          AK
15      DEVA                      Death Valley National Park      CA, NV
17      EVER                        Everglades National Park          FL
18      GAAR  Gates Of The Arctic National Park and Preserve          AK
19      GLAC                           Glacier National Park          MT
20      GLBA          Glacier Bay National Park and Preserve          AK
22      GRCA                      Grand Canyon National Park          AZ
32      KATM               Katmai National Park and Preserve          AK
34      KOVA                      Kobuk Valley National Park          AK
35      LACL           Lake Clark National Park and Preserve          AK
52      WRST  Wrangell - St Elias National Park and Preserve          AK
53      YELL                       Yellowstone National Park  WY, MT, ID

      Acres  Latitude  Longitude
14  3372402     63.33    -150.50
15  4740912     36.24    -116.82
17  1508538     25.32     -80.93
18  7523898     67.78    -153.30
19  1013572     48.80    -114.00
20  3224840     58.50    -137.00
22  1217403     36.06    -112.14
32  3674530     58.50    -155.00
34  1750717     67.55    -159.28
35  2619733     60.97    -153.42
52  8323148     61.00    -142.00
53  2219791     44.60    -110.50

k) Finden Sie alle Parks, die sich in den Bundesstaaten *WA*, *OR* und *CA* befinden. Verwenden Sie hierzu `isin()` (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html?highlight=isin#pandas.DataFrame.isin)

In [161]:
#k)
# Parks in den Bundesstaaten WA, OR und CA selektieren
selected_parks = parks_df[parks_df['State'].isin(['WA', 'OR', 'CA'])]

# Ausgabe der ausgewählten Parks
print(selected_parks)

   Park Code                                Park Name State   Acres  Latitude  \
10      CHIS            Channel Islands National Park    CA  249561     34.01
12      CRLA                Crater Lake National Park    OR  183224     42.94
31      JOTR                Joshua Tree National Park    CA  789745     33.79
36      LAVO            Lassen Volcanic National Park    CA  106372     40.49
39      MORA              Mount Rainier National Park    WA  235625     46.85
40      NOCA             North Cascades National Park    WA  504781     48.70
41      OLYM                    Olympic National Park    WA  922651     47.97
43      PINN                  Pinnacles National Park    CA   26606     36.48
44      REDW                    Redwood National Park    CA  112512     41.30
47      SEKI  Sequoia and Kings Canyon National Parks    CA  865952     36.43
54      YOSE                   Yosemite National Park    CA  761266     37.83

    Longitude
10    -119.42
12    -122.10
31    -115.90
36    -121.51
39    -121.75
40    -121.20
41    -123.50
43    -121.16
44    -124.00
47    -118.68
54    -119.50