# Pandas Exercises 1
Arbeiten Sie nachfolgenden Aufgabenstellungen durch und dokumentieren Sie, wenn notwendig, ihre Erkenntnisse. 


Importieren Sie *pandas*.

In [2]:
import pandas as pd

## Task 1
Erstellen Sie mit `data` ein *Series*-Objekt und geben Sie dessen Werte sowie Indizes aus. Zeigen Sie außerdem, dass
- das erstellte Objekt vom Typ *Series* und
- die Werte vom Typ *numpy*
sind.

In [6]:
import numpy as np
data = [11, 28, 72, 3, 5, 8]
series_data = pd.Series(data)

# Ausgabe der Werte und Indizes
print("Series-Werte:\n", series_data.values)
print("Series-Indizes:\n", series_data.index)

# Überprüfung des Typs
print("Ist series_data ein Series-Objekt?", isinstance(series_data, pd.Series))
print("Sind die Werte vom Typ numpy?", isinstance(series_data.values, np.ndarray))

Series-Werte:
 [11 28 72  3  5  8]
Series-Indizes:
 RangeIndex(start=0, stop=6, step=1)
Ist series_data ein Series-Objekt? True
Sind die Werte vom Typ numpy? True

## Task 2
Erstellen Sie mit `quantities` eine *Series*. Verwenden Sie hierbei `fruits` als Indizes. Gesuchtes Ergebnis:

```python
apples      20
oranges     23
cherries    45
pears       10
dtype: int64
```

In [8]:
fruits = ['apples', 'oranges', 'cherries', 'pears']
quantities = [20, 23, 45, 10]

series_fruits = pd.Series(quantities, index=fruits)
print("\nSeries mit Früchten und Mengen:\n", series_fruits)

Series mit Früchten und Mengen:
 apples      20
oranges     23
cherries    45
pears       10
dtype: int64

## Task 3
Man kann zwei *Series*-Objekte (mit denselben Indizes) addieren. Das Ergebnis ist ein neues *Series*-Objekt. Addieren sie die Quantities `q1` und `q2`. Bilden Sie außerdem die Summe der beiden *Series*-Objekte. Gesuchtes Ergebnis:

```python
apples      30
oranges     36
cherries    70
pears       11
dtype: int64
Summe: 147
```

In [14]:
# Task 3
q1 = pd.Series([20, 23, 45, 10], index=fruits)
q2 = pd.Series([10, 13, 25, 1], index=fruits)

result = q1 + q2
print("\nAddition der beiden Series:\n", result)
print("Summe aller Werte:", result.sum())

Addition der beiden Series:
 apples      30
oranges     36
cherries    70
pears       11
dtype: int64
Summe aller Werte: 147

## Task 4
Index-basierter Zugriff erfolgt mit (zwei) eckigen Klammern (z.B. `my_series['foo']` oder `my_series[['foo', 'bar']]`) Geben Sie a) die Anzahl der *Äpfel* aus. Geben Sie b) die Anzahl der *Äpfel*, *Orangen* und *Kirschen* aus.

In [12]:
# Task 4
print("\nAnzahl der Äpfel:", series_fruits['apples'])

subset = series_fruits[['apples', 'oranges', 'cherries']]
print("\nAnzahl der Äpfel, Orangen und Kirschen:\n", subset)

Anzahl der Äpfel: 20

Anzahl der Äpfel, Orangen und Kirschen:
 apples      20
oranges     23
cherries    45
dtype: int64

## Task 5
Ein Problem bei Aufgaben in der Datenanalyse besteht in fehlenden Daten. Gegeben ist das Dictionary `cities`, das für ausgewählte Städte die Einwohnerzahl bereithält. a) Erstellen Sie daraus eine *Series* und geben Sie dieses aus.

In [16]:
cities = {
    'London': 8615246,
    'Berlin': 3562166,
    'Madrid': 3165235,
    'Rome': 2874038,
    'Paris': 2273305,
    'Vienna': 1805681,
    'Bucharest': 1803425,
    'Hamburg': 1760433,
    'Budapest': 1754000,
    'Warsaw': 1740119,
    'Barcelona': 1602386,
    'Munich': 1493900,
    'Milan': 1350690
}

cities_series = pd.Series(cities)
print("\nSeries aus Dictionary:\n", cities_series)

Series aus Dictionary:
 London       8615246
Berlin       3562166
Madrid       3165235
Rome         2874038
Paris        2273305
Vienna       1805681
Bucharest    1803425
Hamburg      1760433
Budapest     1754000
Warsaw       1740119
Barcelona    1602386
Munich       1493900
Milan        1350690
dtype: int64

Erstellen Sie b) zwei weitere *Series*-Objekte, die aber mit `my_cities1` und `my_cities2` neue Indizes verwenden. Wie intrepretieren Sie das Ergebnis, was fällt Ihnen auf?

In [18]:
my_cities1 = ['London', 'Paris', 'Zurich', 'Berlin', 'Stuttgart', 'Hamburg']
my_cities2 = ['London', 'Paris', 'Berlin', 'Hamburg']

my_series1 = pd.Series(cities_series, index=my_cities1)
my_series2 = pd.Series(cities_series, index=my_cities2)

print("\nmy_series1 mit neuen Indizes:\n", my_series1)
print("\nmy_series2 mit neuen Indizes:\n", my_series2)

my_series1 mit neuen Indizes:
 London       8615246.0
Paris        2273305.0
Zurich             NaN
Berlin       3562166.0
Stuttgart          NaN
Hamburg      1760433.0
dtype: float64

my_series2 mit neuen Indizes:
 London     8615246
Paris      2273305
Berlin     3562166
Hamburg    1760433
dtype: int64

`nan`steht für *not a number*, was als "fehlt" zu verstehen ist. Mit den Methoden `isnull`und `notnull` kann man auf fehlende Werte überprüfen. Führen Sie c) diese Überprüfung durch, sodass folgendes Ergebnis zu Buche steht:

```Python
London       False
Paris        False
Zurich        True
Berlin       False
Stuttgart     True
Hamburg      False
dtype: bool
```

In [20]:
print("\nFehlende Werte in my_series1:\n", my_series1.isnull())

Fehlende Werte in my_series1:
 London       False
Paris        False
Zurich        True
Berlin       False
Stuttgart     True
Hamburg      False
dtype: bool

Filtern Sie d) die fehlende Werte mit `dropna()`. Gesuchtes Ergebnis:
```python
London     8615246.0
Paris      2273305.0
Berlin     3562166.0
Hamburg    1760433.0
dtype: float64
```

In [22]:
filtered_series = my_series1.dropna()
print("\nGefilterte Series ohne fehlende Werte:\n", filtered_series)

Gefilterte Series ohne fehlende Werte:
 London     8615246.0
Paris      2273305.0
Berlin     3562166.0
Hamburg    1760433.0
dtype: float64

Fehlende Daten müssen nicht immer gefiltert werden – oft ist es sinnvoller, diese durch 'passende' Werte zu ersetzen. Mit der Methode `fillna()` können fehlende Werte einfach aufgefüllt werden. Ein naheliegendes Beispiel wäre das Ersetzen aller fehlenden Werte durch '0'. Setzen Sie e) diese Methode in Ihrem Code um:

```Python
London       8615246.0
Paris        2273305.0
Zurich             0.0
Berlin       3562166.0
Stuttgart          0.0
Hamburg      1760433.0
dtype: float64
```

In [26]:
filled_series = my_series1.fillna(0)
print("\nSeries mit aufgefüllten fehlenden Werten:\n", filled_series)

Series mit aufgefüllten fehlenden Werten:
 London       8615246.0
Paris        2273305.0
Zurich             0.0
Berlin       3562166.0
Stuttgart          0.0
Hamburg      1760433.0
dtype: float64

## Task 6
Ein DataFrame in Pandas besteht aus einem Zeilen- und Spaltenindex, der die Struktur der Daten definiert. Um mehrere Series-Objekte zu einem DataFrame zu kombinieren, bietet Pandas die Methode `concat()` an (siehe Dokumentation). Erstellen Sie in Aufgabe a) das DataFrame `shops_df`, indem Sie die drei Series-Objekte zusammenfügen. Das Ergebnis sollte im ersten Schritt wie folgt aussehen:

```Python
2014    2409.14
2015    2941.01
2016    3496.83
2017    3119.55
2014    1203.45
2015    3441.62
2016    3007.83
2017    3619.53
2014    3412.12
2015    3491.16
2016    3457.19
2017    1963.10
dtype: float64
```

In [32]:
#Die Jahre 2014, 2015, 2016 und 2017 erstellen, die als Index einer Series dienen:
years = range(2014, 2018)

shop1 = pd.Series([2409.14, 2941.01, 3496.83, 3119.55], index=years)
shop2 = pd.Series([1203.45, 3441.62, 3007.83, 3619.53], index=years)
shop3 = pd.Series([3412.12, 3491.16, 3457.19, 1963.10], index=years)

shops_df = pd.concat([shop1, shop2, shop3])

# Ausgabe des kombinierten DataFrames
print("\nDataFrame (Series untereinander angefügt):\n", shops_df)

DataFrame (Series untereinander angefügt):
 2014    2409.14
2015    2941.01
2016    3496.83
2017    3119.55
2014    1203.45
2015    3441.62
2016    3007.83
2017    3619.53
2014    3412.12
2015    3491.16
2016    3457.19
2017    1963.10
dtype: float64

Das Ergebnis ist mehr oder weniger unbrauchbar. Der Grund: `concat` verwendet als Default-Wert für den *axis*-Paramter den Wert 0. Das bedeutet, es wird Zeile um Zeile (der jeweiligen *Series*) aneinandergefügt (vgl. NumPy-Einführung, Leserichtung bei 2D-Tensoren). Abhilfe schafft eine spaltenweise "Additiion" der einzelnen *Series'*. Die Umsetzung erfolgt mit dem Argument `axis=1` bei `concat`. Verwenden Sie b) das `axis=1`-Argument beim Zusammenfügen der *Series'*. Das Ergebnis:

```Python
            0        1        2
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10
```

In [34]:
shops_df = pd.concat([shop1, shop2, shop3], axis=1)

# Ausgabe des kombinierten DataFrames
print("DataFrame (spaltenweise kombiniert):\n", shops_df)

DataFrame (spaltenweise kombiniert):
             0        1        2
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10

Die bisher erzielte Darstellung der Daten ist deutlich übersichtlicher, allerdings sind die Spaltennamen noch nicht optimal. Ein DataFrame verfügt über das Property `columns`, mit dem die Spaltennamen einfach angepasst werden können. Dazu können Sie eine neue Liste mit Spaltennamen (z.B. die Liste `cities`) zuweisen. Setzen Sie in Aufgabe c) diese Anpassung um, indem Sie dem DataFrame `shops_df` die neuen Spaltenbezeichner zuweisen. Das Ergebnis sollte wie folgt aussehen:

```Python
         Wien     Graz  Salzburg
2014  2409.14  1203.45   3412.12
2015  2941.01  3441.62   3491.16
2016  3496.83  3007.83   3457.19
2017  3119.55  3619.53   1963.10
```

In [36]:
shops_df.columns = ['Wien', 'Graz', 'Salzburg']

# Ausgabe des aktualisierten DataFrames
print("\nDataFrame mit neuen Spaltennamen:\n", shops_df)

DataFrame mit neuen Spaltennamen:
          Wien     Graz  Salzburg
2014  2409.14  1203.45   3412.12
2015  2941.01  3441.62   3491.16
2016  3496.83  3007.83   3457.19
2017  3119.55  3619.53   1963.10

Geben Sie d) die Inhalte der Spalte "Graz" aus und vergewissern Sie sich, ob die Spalte vom Typ *Series* ist.

In [38]:
graz_column = shops_df['Graz']

# Ausgabe der Spalte "Graz"
print("\nInhalte der Spalte 'Graz':\n", graz_column)

# Überprüfung, ob die Spalte ein Series-Objekt ist
print("\nIst 'Graz' vom Typ Series?", isinstance(graz_column, pd.Series))

Inhalte der Spalte 'Graz':
 2014    1203.45
2015    3441.62
2016    3007.83
2017    3619.53
Name: Graz, dtype: float64

Ist 'Graz' vom Typ Series? True